           <div class="md:flex-1 md:pl-3 relative" data-hs-combo-box="">
  <div class="relative">
    <label class="block uppercase tracking-wide text-charcoal-darker text-xs font-bold">Country name</label>
    <input class="p-4 block w-full border-green-200 rounded-lg text-sm focus:border-green-500 focus:ring-green-500 disabled:opacity-50 disabled:pointer-events-none" name="country" type="text" value="{{profile.country.name}}" role="combobox" aria-expanded="false"  data-hs-combo-box-input="">
    <div class="absolute top-1/2 end-3 -translate-y-1/2" aria-expanded="false" data-hs-combo-box-toggle="">
      <svg class="shrink-0 size-3.5 text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="m7 15 5 5 5-5"></path>
        <path d="m7 9 5-5 5 5"></path>
      </svg>
    </div>
  </div>
  {% for code, name in  countries %}
  <div class="absolute z-50 w-full max-h-72 p-1 bg-white border border-gray-200 rounded-lg overflow-hidden overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300" style="display: none;" data-hs-combo-box-output="">
    <div class="cursor-pointer py-2 px-4 w-full text-sm text-gray-800 hover:bg-gray-100 rounded-lg focus:outline-none focus:bg-green-100" tabindex="0" data-hs-combo-box-output-item="">
      <div class="flex justify-between items-center w-full">
        <span data-hs-combo-box-search-text="{{name}}" data-hs-combo-box-value="">{{name}}</span>
        <span class="hidden hs-combo-box-selected:block">
          <svg class="shrink-0 size-3.5 text-green-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M20 6 9 17l-5-5"></path>
          </svg>
        </span>
      </div>
    </div>
  </div>
  {% endfor %}
</div>