{% load static %}
 <div class="py-5 w-[90%] md:w-[85%] border-y lg:w-[80%] mb-5 mx-auto flex flex-col items-center gap-5 mt-8">
      <div class="">
        <div>&copy; {% now 'Y' %} Dreamerwebdev <sup>TH</sup>. All Right Reservered.</div>
      </div>
      <div class="flex items-center gap-3">
        <a class="hover:-translate-y-4 duration-200 ease-in-out transition-all" href="#">
          <i class="fa-brands fa-facebook text-lg md:text-2xl"></i>
        </a>
        <a class="hover:-translate-y-4 duration-200 ease-in-out transition-all" href="#">
          <i class="fa-brands fa-linkedin text-lg md:text-2xl"></i>
        </a>
        <a class="hover:-translate-y-4 duration-200 ease-in-out transition-all" href="#">
          <i class="fa-brands fa-twitter text-lg md:text-2xl"></i>
        </a>
        <a class="hover:-translate-y-4 duration-200 ease-in-out transition-all" href="#">
          <i class="fa-brands fa-instagram text-lg md:text-2xl"></i>
        </a>
        <a class="hover:-translate-y-4 duration-200 ease-in-out transition-all" href="#">
          <i class="fa-brands fa-github text-lg md:text-2xl"></i>
        </a>
        <a class="hover:-translate-y-4 duration-200 ease-in-out transition-all" href="#">
          <i class="fa-brands fa-dribbble text-lg md:text-2xl"></i>
        </a>
        <a class="hover:-translate-y-4 duration-200 ease-in-out transition-all" href="#">
          <i class="fa-brands fa-behance text-lg md:text-2xl"></i>
        </a>
        </div>
    </div>